.maleToiletSelectIcon-unselected {
    opacity: 0.4;
}
.femaleToiletSelectIcon-unselected {
    opacity: 0.4;
}
.maleToiletSelectIcon-selected {
    opactiy: 1;
}
.femaleToiletSelectIcon-selected {
    opacity: 1;
}