body {
    background-color: black;
}

html,body {
  height:100%;
}
body {
    background-color:#eaebed;
}
#displayedMap {
    border-color: black;
    border-bottom-style: solid;
    border-radius: 5px;
    height:90%;
    width:100%;
}

.topbar{
    height: 67px;
    width: 100%;
}

#homeBar {
    display:inline-block;
}

#searchBar {
    display:none;
}

#filterBar {
    display:none;
}

.barfunct {
    float:right;
    margin-top:10px;
    width:51px;
    height:51px;
}
#AppTitle {
    font-family: "Arial Black";
    font-size: 45px;
    width: 25%;
    height: 100%;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

input.notfound {
    border: 2px solid rgba(255, 0, 0, 0.4);
}

#rightButton {
    height: 100%;
    width: 67.391px;
    margin: 0;
    float:right;
}

#searchTextField {
    width: 82%;
    height: 60px;
}

#filterSelect {
    float: left;
}