body {
    background-color: black;
}

html,body {
  height:100%;
}
body {
    background-color:#eaebed;
}
#displayedMap {
    border-color: black;
    border-bottom-style: solid;
    border-radius: 5px;
    height:90%;
    width:100%;
}
#bar {
    height: 10%;
    width: 100%;
    display:inline-block;
}

#searchBar {
    height: 10%;
    width: 100%;
    display:none;
}

.barfunct {
    float:right;
    margin-top:10px;
}
#AppTitle {
    font-family: "Arial Black";
    font-size: 60px;
    width: 25%;
    height: 100%;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

input.notfound {
    border: 2px solid rgba(255, 0, 0, 0.4);
}

#searchTextField {
    width: 82%;
    height: 100%;
}