body {
    background-color: black;
}

html,body {
  height:100%;

    overflow:hidden;
}
body {
    background-color:#eaebed;
}
#displayedMap {
    border-color: black;
    border-bottom-style: solid;
    border-radius: 5px;
    height:90%;
    width:100%;
}

.topbar{
    height: 67px;
    width: 100%;
}

#homeBar {
    display:inline-block;
}

#searchBar {
    display:none;
}

#filterBar {
    display:none;
}

.barfunct {
    float:right;
    margin-top:10px;
    width:51px;
    height:51px;
}
#AppTitle {
    font-family: "Arial Black";
    font-size: 45px;
    width: 25%;
    height: 100%;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

input.notfound {
    border: 2px solid rgba(255, 0, 0, 0.4);
}

.rightButton {
    margin-top:20px;
}
.submitYAButon {
    background-color: white; !important;
    border-radius:15px; !important;
    border: 2px solid #84BE44; !important;
    color: #84BE44; !important;
    font-size: 22px; !important;
    font-weight: bold; !important;
    margin-bottom:30px;!important;
    text-align:center; !important;
    cursor: pointer; !important;
}
.submitYAButon:hover {
      background-color: #84BE44;
      color:white;
}
.cancelYAButton {
    margin-left:20px;
    background-color: white; !important;
    border-radius:15px; !important;
    border: 2px solid #B34F4A; !important;
    color: #B34F4A; !important;
    font-size: 22px; !important;
    font-weight: bold; !important;
    margin-bottom:30px;!important;
    text-align:center; !important;
    cursor: pointer; !important;
}
.cancelYAButton:hover {
    background-color: #E3746F;
    color:white;
}
#searchTextField {
    font-size:29px;
    width: 76%;
    height: 60px;
}

#filterSelect {
    float: left;
}