.groupDisplay {
    width:60%;
    height:70%;
    background:#4abdac;
    top:10%;
    left:20%;
    position:absolute;
    overflow-y:scroll;
    overflow-x:hidden;
}
.groupMarker {
    width:150px;
    height:195px;
    background: #FCF6B1;
    text-align:center;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    float:left;
    cursor:pointer;
    border-radius:5px;
}
.groupMarker > img {
    width:93.5px;
    height:74.5px;
    margin-top:5px;
}
.groupMarker > p {
    font-weight:bold;
    font-size:25px;
    color:#585858;
    width:100%;
    word-wrap:break-word;
}

/*Custom Scrollbar By Devstreak*/
/*Done by Devstreak*/
#style-5::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb
{
    background-color: #0ae;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
    color-stop(.5, rgba(255, 255, 255, .2)),
    color-stop(.5, transparent), to(transparent));
}
